{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="content-detail-out">
        <div class="contentDetail">

            <div class="row">
                <div class="col-1">
                    <a href="{% url 'portfolio_list' %}">
                    <div class="backIcon">
                        <img src="{% static 'img/backArrow.png' %}" alt="">
                    </div>
                        </a>
                </div>
                <div class="col-5">
                    <div class="detailImg">
                        <img class="" src="{{ work.image.url }}" alt="">
                    </div>

                </div>
                <div class="col-6">
                    <div class="detailText">
                        <h1 class="">{{ work.name }}</h1>
                        <p class="">{{ work.description }}</p>
                        <h2>Срок выполнения: {{ work.timeOfWork }}</h2>
                        <h3>Цена: {{ work.price }}</h3>


                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}