{% extends 'base.html' %}

{% block content %}
    <div class="content-add">
        <div class="addText">
            <h1 class="">Обновление товара</h1>
        </div>

        <div class="formProd">
            <form class=" border border-light p-5" action="{{ prod.get_update_url }}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.errors %}
                        <div clasas="alert alert-danger">
                            {{ field.errors}}
                        </div>
                    {% endif %}
                    {% if field.label == 'Slug' %}
                        <br>
                    <p>Внимание! Необходимо изменить поле 'slug'</p>
                    {% endif %}
                    <p class="formLabel">{{ field.label }}:</p>
                    {{ field }}
                {% endfor %}

                <button type="submit" class="">Обновить товар</button>

            </form>
        </div>
        <div class="instruction">
            <h1 class="">Инструкция</h1>
            <ol >
                <li>Измените необходимые поля</li>
                <li>Изменить поле 'slug'</li>
                <li>Нажмите на кнопку "Обновить товар"</li>
            </ol>
        </div>
    </div>


{% endblock %}