{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="content-detail">
   <div class="container login-f">
      <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="card-panel teal">
          <span class="white-text">Thank you very much! We have sent you a welcome email. Kindly read it and let us know if there is anything else we can do for you.
          <br>
          <br>
          ~Yasoob
          </span>
        </div>
      </div>
    </div>
    </div>
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">&copy; 2015 Copyright Muhammad Yasoob
        </div>
      </div>
    </footer>
</div>
    {% endblock %}